/*style for navber*/

.navbar-nav li a{

font-family: 'Lato', sans-serif;
font-weight: bold;

}
.navbar-brand{

font-family: 'Lato', sans-serif;
font-weight: bold;
font-size: 17px;

}

/*style for header*/

.header_section{
width: 100%;
background: url(intro-bg.jpg) no-repeat;
background-size: cover;
height: 100vh;
margin-top: 50px;

}

.header_body{
width:100%; 
height: 100vh;
text-align: center;
position: relative;
}
.content{
margin: 0 auto;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
color: #f8f8f8;
}
.content h1{

font-size: 60px;
font-weight: bold;
font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.content h4{
font-size: 23px;
font-family:'Lato', sans-serif;
font-weight: bold;
margin: 25px 0px;
}
.content button{

	margin: 25px 6px;
	background: #ffffff;
	color: #333333;
	border: none;
	border-radius: 6px;
	padding: 15px 20px;
	font-weight:normal;
	font-family: sans-serif;
	font-size: 13px;
	letter-spacing: 1.6px;
	text-transform: uppercase;
}	

.content button:hover  {

    margin: 25px 6px;
	background: #ffffff;
	color: #333333;
	border: none;
	border-radius: 6px;
	padding: 15px 20px;
	font-weight:normal;
	font-family: sans-serif;
	font-size: 13px;
	letter-spacing: 1.6px;
	text-transform: uppercase;


}


.line{

width: 95%;
height: 1px;
margin-top: 40px;
background: #ffffff;
margin: 0 auto;
}
/*header style end*/


/*i-pad style srart*/

.ipad_section{

width: 100%;
background: #f8f8f8;
padding: 60px 0px;

}
.topline{

width: 40%;
background: #e7e7e7;
height: 3px;
float: left;
}
.ipad_body{
float: left;
margin-top: 40px;
}

.ipad_body h2{


font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: bolder;

}
.ipad_body p{

font-family:"Lato",sans-serif;
font-size:20px;
display: block;
margin-top: 30px;
font-weight: normal;
margin-bottom: 30px;

}

/*i-pad style end*/

/*dog style start*/
.dog_section{

width: 100%;
padding: 60px 0px;

}
.dog_body{
float: : left;
margin-top: 40px;

}
.dog_body h2{

font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: bolder;

}
.dog_body p{

font-family:"Lato",sans-serif;
font-size:20px;
display: block;
margin-top: 30px;
font-weight: normal;

}



/*dog style end*/

/*mobaile style srart*/

.mob_section{

width: 100%;
background: #f8f8f8;
padding: 60px 0px;

}
.topline{

width: 48%;
background: #e7e7e7;
height: 3px;
float: left;
}
.mob_body{
float: left;
margin-top: 40px;
}
}
.mob_body h2{

font-family: "Lato",sans-serif;
font-weight: bold;

}
.mob_body p{

font-family:"Lato",sans-serif;
font-size:20px;
display: block;
margin-top: 30px;
font-weight: normal;

}
/*mobaile style end*/
/*style for banner start*/


.banner_section{
width: 100%;
background: url(banner-bg.jpg) no-repeat center center;
background-size: cover;
padding: 80px;


}


.banner_body button{

	margin: 25px 6px;
	background: #ffffff;
	color: #333333;
	border: none;
	border-radius: 6px;
	padding: 15px 20px;
	font-weight:normal;
	font-family: sans-serif;
	font-size: 13px;
	letter-spacing: 1.6px;
	text-transform: uppercase;
}	

.banner_body button:hover  {

    margin: 25px 6px;
	background: #ffffff;
	color: #333333;
	border: none;
	border-radius: 6px;
	padding: 15px 20px;
	font-weight:normal;
	font-family: sans-serif;
	font-size: 13px;
	letter-spacing: 1.6px;
	text-transform: uppercase;


}
.banner_body h2{

font-size: 40px;
font-weight: bold;
font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
color: #f8f8f1;
}
/*end banner*/
/*footer section style*/

.footer_section{

width: 100%;

}
.footer_body{

padding: 80px;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
}
.footer_body ul li{

font-weight: bold;
font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif; 

}
.suma{

	color:#99991e;
}
/*footer style end*/

/*media qureies*/
@media (max-width: 767px) {

.content h1{

font-weight: bold;
font-family: 'Lato',sans-serif;
font-size: 40px;


}
.content h4{

font-family:'Lato', sans-serif;
margin: 25px 0px;
font-size: 17px;
}

.content button {

	
	background: #ffffff;
	margin: 10px;
	color: #333333;
	border: none;
	padding: 10px 5px;
	border-radius: 6px;
	font-weight:normal;
	font-family: sans-serif;
	font-size: 10px;
	letter-spacing: 1.3px;
	display: inline-block;
	text-transform: uppercase;

}	
.content button :hover  {

    margin: 25px 6px;
	background: #ffffff;
	color: #333333;
	border: none;
	border-radius: 6px;
	padding: 15px 20px;
	font-weight:normal;
	font-family: sans-serif;
	font-size: 13px;
	letter-spacing: 1.6px;
	text-transform: uppercase;


}
.topline{

width: 100%;
background: #e7e7e7;
height: 3px;
text-align: center;
}
.ipad_section{

width: 100%;
background: #f8f8f8;
padding: 60px 0px;
text-align: center;
}
.mob_section{

width: 100%;
background: #f8f8f8;
padding: 60px 0px;
text-align: center;
}
.dog_section{

width: 100%;
padding: 60px 0px;
text-align: center;
}

.ipad_body p{

font-family:"Lato",sans-serif;
font-size:20px;
display: block;
margin-top: 30px;
margin-bottom: 30px;
font-weight: normal;
text-align: center;

}
.dog_body p{

font-family:"Lato",sans-serif;
font-size:20px;
display: block;
margin-top: 30px;
margin-bottom: 30px;
font-weight: normal;
text-align: center;

}
.mob_body p{

font-family:"Lato",sans-serif;
font-size:20px;
display: block;
margin-top: 30px;
margin-bottom: 30px;
font-weight: normal;
text-align: center;

}


.banner_body button{
    float: left;
    background: #ffffff;
	margin: 8px 8px 8px 0px;
	color: #333333;
	border: none;
	padding: 7px 20px;
	border-radius: 4px;
	font-weight:normal;
	font-family: sans-serif;
	font-size: 8px;
	letter-spacing: 1.3px;
	display: inline-block;
	text-transform: uppercase;

   

}

.banner_body button:hover {
    float: left;
    background: #ffffff;
	margin: 8px 8px 8px 0px ;
	color: #333333;
	border: none;
	padding: 7px 20px;
	border-radius: 4px;
	font-weight:normal;
	font-family: sans-serif;
	font-size: 8px;
	letter-spacing: 1.3px;
	display: inline-block;
	text-transform: uppercase;
   

}



.footer_body{

padding: 30px;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 15px;
}

}






